body {
    background-color: #47476b;
}

.listContainer {
    margin: auto;
    width: 50%;
    background-color: #C7C7C7;
    border: 3px;
    border-color: black;
}

h1 {
    text-align: center;
}

.title {
    color: white;
}

ul.toDo li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 0;
    right: 0;
    display: flex;
}

ul.toDo li:last-of-type {
    margin: 0px;
}

ul.toDo li.buttons {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


ul.toDo li:hover {
    background: #919191;
    transition: 0.2;
}

button {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}

footer {
    margin: auto;
    width: 50%;
    background-color: gray;
    text-align: center;
}

.footText {
    color: white;
}

.addBtn:hover {
    cursor: pointer;
}

input {
    width: 50%;
    text-indent: 12px;
}
